.UsersListItem {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 5px;
  &_selected {
    background-color: #1890ff;
  }
  &:hover:not(&_selected) {
    background-color: #efefef;
    cursor: pointer;
  }
  &__avatar {

  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  &__name {
    font-weight: 600;
  }
  &__meta {
    color: gray;
  }
}
